body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-detail {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.product-image {
  flex: 1;
  max-width: 50%; /* Kích thước hình ảnh */
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.product-info h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.product-info .product-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-info .product-price {
  font-size: 1.2em;
  color: #f76707; /* Màu cam */
  font-weight: bold;
}

.product-info .product-unit {
  font-size: 1.2em;
  color: #555;
}
