body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.header {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

.product-list-header {
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng theo trục x,y,độ mờ và màu sắc */
  margin-bottom: 20px;
}

.product-container {
  display: flex; /* Bố cục flexbox */
  flex-wrap: wrap; /* Xuống dòng */
  justify-content: flex-start; /* Hiển thị lần lượt từ trái qua phải */
  gap: 20px; /* các phần tử cách nhau 20px */
  padding: 20px;
  margin-left: 75px;
}

.product-link {
  text-decoration: none;
  color: black;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s; /* chuyển động */
  display: flex;
  flex-direction: column; /* sắp xếp theo cột từ trên xuống */
}

.product-card:hover {
  transform: scale(1.03); /* Phóng to 1.03 lần khi hover */
}

.product-image {
  width: 70%;
  height: 160px;
  object-fit: cover; /* Đảm bảo ảnh vừa với khu vực hiển thị */
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-info {
  padding: 10px;
  flex-grow: 1; /* Để nội dung chiếm hết không gian còn lại */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 1em;
  margin: 0;
}

.product-price {
  color: black;
  font-weight: bold;
  margin-top: 8px;
}
