#chart1 {
    width: 25% !important;
    height: auto; 
    display: block;
    margin: 0 auto; 
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}

#chart2 {
    width: 25% !important;
    height: auto; 
    display: block;
    margin: 0 auto; 
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}
